<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <img src="assets/img/person-img.png" alt="Foto de Leonardo" class="foto-perfil">
    <ion-card-header>
      <ion-card-title>Leonardo Dalmago de Souza</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Idade:</strong> 22 anos</p>
      <p><strong>Cidade:</strong> Marau - RS</p>
      <p><strong>Instituição:</strong> Universidade de Passo Fundo (UPF)</p>
      <p><strong>Curso:</strong> Análise e Desenvolvimento de Sistemas</p>
      <p><strong>Experiência:</strong> Experiência com atendimento ao cliente, projetos acadêmicos simples com HTML, CSS, JavaScript, Angular, Ionic, mySQL, Java.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
