<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Habilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Minhas Habilidades</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p>HTML</p>
      <ion-progress-bar value="0.9" color="success"></ion-progress-bar>
      <br>

      <p>CSS</p>
      <ion-progress-bar value="0.85" color="primary"></ion-progress-bar>
      <br>

      <p>JavaScript</p>
      <ion-progress-bar value="0.7" color="warning"></ion-progress-bar>
      <br>

      <p>Angular</p>
      <ion-progress-bar value="0.5" color="tertiary"></ion-progress-bar>
      <br>

      <p>Ionic</p>
      <ion-progress-bar value="0.7" color="secondary"></ion-progress-bar>

    </ion-card-content>
  </ion-card>

</ion-content>
