<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <img src="assets/img/person-img.png" alt="Foto pessoal">
    <ion-card-header>
      <ion-card-title>Olá, sou Leonardo Dalmago de Souza</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Estudante/desenvolvedor. Aqui você pode conhecer mais sobre mim!
    </ion-card-content>
  </ion-card>
</ion-content>
